*.[aA] filter=lfs diff=lfs merge=lfs
*.[aA][aA][rR] filter=lfs diff=lfs merge=lfs
*.[aA][sS][tT][cC] filter=lfs diff=lfs merge=lfs
*.[aA][vV][iI] filter=lfs diff=lfs merge=lfs
*.[bB][lL][eE][nN][dD] filter=lfs diff=lfs merge=lfs
*.[bB][mM][pP] filter=lfs diff=lfs merge=lfs
*.[bB][uU][nN][dD][lL][eE] filter=lfs diff=lfs merge=lfs
*.[cC][uU][bB][eE] filter=lfs diff=lfs merge=lfs
*.[cC]4[dD] filter=lfs diff=lfs merge=lfs
*.[dD][dD][sS] filter=lfs diff=lfs merge=lfs
*.[dD][lL][lL] filter=lfs diff=lfs merge=lfs
*.[eE][xX][eE] filter=lfs diff=lfs merge=lfs
*.[eE][xX][rR] filter=lfs diff=lfs merge=lfs
*.[fF][bB][xX] filter=lfs diff=lfs merge=lfs
*.[gG][iI][fF] filter=lfs diff=lfs merge=lfs
*.[jJ][aA][rR] filter=lfs diff=lfs merge=lfs
*.[jJ][pP][eE][gG] filter=lfs diff=lfs merge=lfs
*.[jJ][pP][gG] filter=lfs diff=lfs merge=lfs
*.[mM][aA] filter=lfs diff=lfs merge=lfs
*.[mM][aA][xX] filter=lfs diff=lfs merge=lfs
*.[mM][bB] filter=lfs diff=lfs merge=lfs
*.[mM][dD][bB] filter=lfs diff=lfs merge=lfs
*.[mM][kK][vV] filter=lfs diff=lfs merge=lfs
*.[mM][oO][vV] filter=lfs diff=lfs merge=lfs
*.[mM][pP]3 filter=lfs diff=lfs merge=lfs
*.[mM][pP]4 filter=lfs diff=lfs merge=lfs
*.[oO][bB][jJ] filter=lfs diff=lfs merge=lfs
*.[oO][gG][gG] filter=lfs diff=lfs merge=lfs
*.[oO][tT][fF] filter=lfs diff=lfs merge=lfs
*.[pP][dD][bB] filter=lfs diff=lfs merge=lfs
*.[pP][dD][fF] filter=lfs diff=lfs merge=lfs
*.[pP][lL][aA] filter=lfs diff=lfs merge=lfs
*.[pP][lL][nN] filter=lfs diff=lfs merge=lfs
*.[pP][nN][gG] filter=lfs diff=lfs merge=lfs
*.[pP][oO][mM] filter=lfs diff=lfs merge=lfs
*.[pP][sS][dD] filter=lfs diff=lfs merge=lfs
*.[rR][aA][rR] filter=lfs diff=lfs merge=lfs
*.[sS][oO] filter=lfs diff=lfs merge=lfs
*.[sS][rR][cC][aA][aA][rR] filter=lfs diff=lfs merge=lfs
*.[tT][gG][aA] filter=lfs diff=lfs merge=lfs
*.[tT][iI][fF] filter=lfs diff=lfs merge=lfs
*.[tT][tT][fF] filter=lfs diff=lfs merge=lfs
*.[uU][nN][iI][tT][yY][pP][aA][cC][kK][aA][gG][eE] filter=lfs diff=lfs merge=lfs
*.[wW][aA][vV] filter=lfs diff=lfs merge=lfs
*.[zZ][iI][pP] filter=lfs diff=lfs merge=lfs
*.3[dD][sS] filter=lfs diff=lfs merge=lfs
*.7[zZ] filter=lfs diff=lfs merge=lfs